
<br><br>
<div class="container">

    <div class="row">
        <form (ngSubmit)="onQuery()" class="form-inline" >
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="params.name">   
            </div>  
            <br>
            <button class="btn btn-primary">Search</button> 
            <a routerLink="./add"><button class="btn btn-primary" style="margin-left: 10px;">Add Class</button></a>
        </form>
    </div>
    <br>

    <div class="row" style="text-align: center; font-size: 25px;">
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th>序号</th>
                    <th>班级名称</th>
                    <th>Teacher</th>
                </tr>
                
            </thead>
            
            <tbody  *ngFor="let klass of klasses; index as i">
                <td>{{i + 1}}</td>
                <td>{{ klass.name }}</td>
                <td>{{ klass.teacher.name }}</td>
            </tbody>
        </table>
        
    </div>
</div>


