<br>
<div class="container">
  <div class="row">
    <a routerLink="/add"><button class="btn btn-primary">Add new Teacher</button></a>
    
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <table class="table table-bordered" style="text-align: center;">
      
      <thead>
        <tr class="table-success">
          <th>Number</th>
          <th>Name</th>
          <th>Email</th>
          <th colspan="2">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers" >
          <td>{{teacher.id}}</td>
          <td>{{teacher.name}}</td>
          <td>{{teacher.email}}</td>
    
          <td>
            <a [routerLink]="['/edit', teacher.id]"><button class="btn btn-primary">Edit</button></a>
          </td>
          <td>
            <button (click)="onDelete(teacher)" class="btn btn-primary">Delete</button>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>



  
  