<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.KlassMapper">

    <select id="getAll" resultMap="KlassTeacher">
        SELECT * FROM klass
    </select>

    <resultMap id="KlassTeacher" type="com.demo.entity.Klass">

            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <association property="teacher" javaType="com.demo.entity.Teacher" column="tid" select="getTeacher"></association>
    </resultMap>


    <select id="getTeacher" resultType="com.demo.entity.Teacher">
        SELECT * FROM teacher t where id = #{tid}

    </select>

    <select id="getByName" resultMap="KlassTeacher">
        SELECT * FROM klass where name = #{name}
    </select>



    <insert id="insert" >
        INSERT INTO klass VALUES (
        null, #{name}, #{tid}
        )
    </insert>

    <update id="update">
        UPDATE klass SET name = #{name}, tid = #{tid} WHERE id = #{id}
    </update>


</mapper>