<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.demo.mapper.KlassMapper">

    <resultMap id="KlassMap" type="com.demo.entity.Klass">
        <id column="id" property="id"></id>


    </resultMap>

    <select id="getAllByName" resultMap="KlassMap">
        SELECT k.*, t.* FROM klass k, teacher t
        WHERE k.teacher_id = t.id
        AND k.name = #{name}
    </select>



</mapper>