<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.demo.mapper.TeacherMapper">

    <resultMap id="TeacherMap" type="com.demo.entity.Teacher">
        <id column="id" property="id"></id>


    </resultMap>



    <select id="getAll" resultMap="TeacherMap">
        SELECT * FROM teacher
    </select>

    <select id="getById" resultMap="TeacherMap">
        SELECT * FROM teacher where id = #{id}
    </select>

    <insert id="insert"  useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO teacher(name, email
        ) VALUES (
         #{name}, #{email}
        )
    </insert>

    <update id="update">
        UPDATE teacher SET name = #{name}, email = #{email} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM teacher where id = #{id};
    </delete>

</mapper>