<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.demo.mapper.TeacherMapper">

    <resultMap id="TeacherMap" type="com.demo.entity.Teacher">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="sex" property="sex"></result>
        <result column="email" property="email"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>



    <select id="getAll" resultMap="TeacherMap">
        SELECT * FROM teacher
    </select>


</mapper>