<br><br>

<div class="container">
    <div class="row">
        
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name:<input id="name" class="form-control" type="text"/></label>
            </div>
          <div class="form-group">
            <label for="teacherId">Teacher ID:<input type="number" class="form-control" id="teacherId"></label>
          </div>
          <br>

          <button class="btn btn-primary">保存</button>
        </form>
    </div>
</div>